@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
}

html{
    scroll-behavior: smooth;
    scrollbar-color: #a49af7;
    scrollbar-track-color: #a49af7;
    scrollbar-base-color: #a49af7;
}

.logo{
    font-size: 2.5rem;
}
.header{
    display: flex;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    background-color: #dbd5fb;
    
}
.aboutlist{
    display: flex;
    gap: 2rem;
    list-style: none;
}
li{
    font-size: 1.3rem;
    color: black;
    
}
.aboutlink{
    text-decoration-color: #dbd5fb;
    transition: all .3s linear forwards;
}
.aboutlink:hover{
    text-underline-offset: 0.7rem;
    text-decoration-color: rgb(63,63,63);
}

.ham{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 5%;
    right: 5%;
}


.span{
    height: 27px;
    width: 24px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
span{
    width: 100%;
    height: 100%;
    background-color: black;
}
.hamburg{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}
.clicked{
    display: none;
}

.about{
    height: 85vh;
    background: url(./coffee\ background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}
.aboutus{
    position: absolute;
    top: 30%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 1.5rem;
}
.title, p, #about{
    
}
h1{
    font-size: 2.5rem;
    font-family: 'Tektur', cursive;
    letter-spacing: 0.3rem;
}
p{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}
#about{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background-color: #dbd5fb;
    border: none;
    border-radius: 15px;
    transition: all .2s;
}
#about:hover{
    background-color: #a49af7;
    
}
.second{
    height: 70vh;
    position: relative;
    background-color: #a49af7;
}
.info-container{
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.info{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 10%;


}

#second{
    margin-top: 10%;
}
img{
    width: 400px;
    height: 400px;
}

.brews{
    height: 100vh;
    background-color: #dbd5fb;
}
.brewcontainer{
    height: 200px;
    

}
.brews p{
    text-align: center;
    margin: 0 5%;
    margin-top: 10%;
    line-height: 2;
}
.brewcontainer img{
    width: 100%;
    height: 90%;
    
}
.total{
    margin-top: 10%;
    
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.brews h1{
    text-align: center;
}
h4{
    text-align: center;
}
.fourth{
    background: white;
    height: 60vh;
}

.details{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.signup{
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    background: #dbd5fb;
    
}
input{
    height: 50px;
    padding: 30px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid black;
}
input::placeholder{
    font-weight: 600;
    text-transform: capitalize;
}
.signup h1{
    font-size: 1rem;
    text-align: center;
    font-family: "Poppins";
    margin-top: 5%;
}
.signup button{
padding: 10px 25px;
background: #a49af7;
border: none;
margin-bottom: 5%;
font-family: "Poppins";
font-weight: 900;
}

/* media queries */

@media screen and (width<=1300px) {
    .ham{
        display: flex;
        gap: 2rem;
    }
    .desktop{
        display: none;
    }
    span{
        position: relative;
    }
    .hamburg{
        gap: 0.5rem;
        position: absolute;
        top: 70px;
        right: 5%;
        background-color: #dbd5fb;
        width: 200px;
        text-align: center;
    }
    .logo{
        position: absolute;
        left: 5%;
    }
}

@media screen and (width>=1000px) {
    .ham{
        display: none;
    }
}
@media screen and (width<1200px) {
    .total{
        margin-top: 20%;
    }
    .info{
        width: 100%;
        
    }
    .info h1{
        font-size: 1.5rem;
    }
    #second{
        transform: scale(.5);
    }
}
@media screen and (width<1000px) {
    .aboutus {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
        
    }
    .aboutus p, .aboutus h1{
        text-align: center;
        margin: 0 5%;
    }
        .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .info h1{
        text-align: center;
    }
        .info p{
            text-align: center;
        }
        .info-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    #second{
        display: none;
    }
    .brews p{
        line-height: 1;
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .signup{
        width: 250px;
        margin-bottom: 30px;
        padding-bottom: 20px;
    
    }
    .details img{
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
    }
}